.chat-box {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  height: 550px;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 11px;
  color: black;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: black;
}

.message {
  background: #e6f2ff;
  padding: 0.5rem;
  border-radius: 11px;
}

.timestamp {
  font-size: 0.75rem;
  color: #555;
  margin-top: 4px;
}

.empty {
  font-style: italic;
  color: #888;
}
